[masters]
master1-ubuntu ansible_host=10.10.10.131

[workers]
worker1-ubuntu ansible_host=10.10.10.135

[k8s_cluster:children]
masters
workers

[all:vars]
ansible_user=startsm
ansible_ssh_private_key_file=~/.ssh/
